<div class="content-app">

  <h2 class="jugador">Jugador 1</h2>
  <section class="jg1 content-numeros">
    <div [ngClass]="{'tachado': !numerosJugador1.includes(1)}" class="jg1__numero numero">1</div>
    <div [ngClass]="{'tachado': !numerosJugador1.includes(2)}" class="jg1__numero numero">2</div>
    <div [ngClass]="{'tachado': !numerosJugador1.includes(3)}" class="jg1__numero numero">3</div>
    <div [ngClass]="{'tachado': !numerosJugador1.includes(4)}" class="jg1__numero numero">4</div>
    <div [ngClass]="{'tachado': !numerosJugador1.includes(5)}" class="jg1__numero numero">5</div>
    <div [ngClass]="{'tachado': !numerosJugador1.includes(6)}" class="jg1__numero numero">6</div>
    <div [ngClass]="{'tachado': !numerosJugador1.includes(7)}" class="jg1__numero numero">7</div>
    <div [ngClass]="{'tachado': !numerosJugador1.includes(8)}" class="jg1__numero numero">8</div>
    <div [ngClass]="{'tachado': !numerosJugador1.includes(9)}" class="jg1__numero numero">9</div>
    <div [ngClass]="{'tachado': !numerosJugador1.includes(10)}" class="jg1__numero numero">10</div>

  </section>

  <section class="seccion-juego">
    <button *ngIf="index===0" class="tirar" (click)="iniciarTurno()">{{tirar}}</button>
    <div class="dados">
      <div class="dado1"><img [src]="dado1" alt="Dado"></div>
      <div class="dado2"><img [src]="dado2" alt="Dado"></div>
    </div>
    <div class="form-operaciones">
      <input type="number" min="1" max="10" value="1" class="operadores operador1" [(ngModel)]="numero1" disabled>
      <select name="" id="" class="operacion">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="%">/</option>
        <option value="*">*</option>
      </select>
      <input type="number" min="1" max="10" value="1" class="operadores operador2"  [(ngModel)]="numero2" disabled>
      <button class="btn-calcular">Tapar</button>
    </div>
    <span id="ganador">

    </span>
    
  </section>
  <section class="jg2 content-numeros">
    <div [ngClass]="{'tachado': !numerosJugador2.includes(1)}" class="jg2__numero numero">1</div>
    <div [ngClass]="{'tachado': !numerosJugador2.includes(2)}" class="jg2__numero numero">2</div>
    <div [ngClass]="{'tachado': !numerosJugador2.includes(3)}" class="jg2__numero numero">3</div>
    <div [ngClass]="{'tachado': !numerosJugador2.includes(4)}" class="jg2__numero numero">4</div>
    <div [ngClass]="{'tachado': !numerosJugador2.includes(5)}" class="jg2__numero numero">5</div>
    <div [ngClass]="{'tachado': !numerosJugador2.includes(6)}" class="jg2__numero numero">6</div>
    <div [ngClass]="{'tachado': !numerosJugador2.includes(7)}" class="jg2__numero numero">7</div>
    <div [ngClass]="{'tachado': !numerosJugador2.includes(8)}" class="jg2__numero numero">8</div>
    <div [ngClass]="{'tachado': !numerosJugador2.includes(9)}" class="jg2__numero numero">9</div>
    <div [ngClass]="{'tachado': !numerosJugador2.includes(10)}" class="jg2__numero numero">10</div>
  </section>

  <h2 class="jugador">Jugador 2</h2>
</div>